# 1. ETL ➡ Extraer, Transformar y Cargar

Obtengo los datos a través del cliente que está interesado en que le analicen los datos de su negocio. En este caso, es una farmacia comunitaria de Canarias, en Tenerife.
 
El cliente ha obtenido los datos a partir del software de su negocio, llamado [Unycop](https://www.unycop.es/). Los datos se encuentran en formato excel.

In [15]:
#%pip install xlrd>=2.0.1
#%pip install sqlalchemy
#%pip install xlwt

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import os
import numpy as np 

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')
import importlib
import support 
importlib.reload(support) 
from support import ExcelManager

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 103-104: truncated \UXXXXXXXX escape (support.py, line 382)

---

### Limpieza del archivo excel articulos

In [17]:
#excel_manager = ExcelManager(r"C:\Users\blanx\ironhack\Final_proyect_SME_real_case\Final_proyect_SME_real_case\data\data_raw")

#print(excel_manager.data_frames)
#excel_manager.exportarDfsToExcels(r'C:\Users\blanx\ironhack\Final_proyect_SME_real_case\Final_proyect_SME_real_case\data\data_clean')

In [18]:
df = pd.read_excel('../data/data_raw/articulos.xlsx')
df = df.iloc[:, 1:]
df.columns = df.iloc[0]
df = df.iloc[1:, :]
df = df.reset_index(drop=True)

In [19]:
df.head()

,Código,Nombre,Familia,Mínimo,Existencias,P.V.P.,NaN,Ventas,Porcent.
0,702686,JARDIANCE 10 MG 30 COMP,Financiables,4,5,"49,53",NaN,"18.188,36","0,80%"
1,706414,TOUJEO 300 UI SOL INYECT 3 PLUMAS 1.5 M,Financiables,5,6,"48,68",NaN,"18.011,60","0,80%"
2,700588,FORXIGA 10 MG 28 COMP,Financiables,3,3,"44,25",NaN,"16.149,68","0,71%"
3,704632,TRULICITY 1.5 MG SOL INY 4 PLUMAS PREC,Financiables,2,2,"123,22",NaN,"15.895,38","0,70%"
4,935353,NEXIUM MUPS 40 MG 28 COMP,Financiables,5,4,"24,14",NaN,"14.966,80","0,66%"

In [20]:
df = df.drop_duplicates()

In [21]:
df = df.rename(columns={df.columns[6]: 'columna_vacia'})
columna_vacia = 'columna_vacia'
df = df.drop(columns=[columna_vacia], errors='ignore')

In [22]:
df.head()

,Código,Nombre,Familia,Mínimo,Existencias,P.V.P.,Ventas,Porcent.
0,702686,JARDIANCE 10 MG 30 COMP,Financiables,4,5,"49,53","18.188,36","0,80%"
1,706414,TOUJEO 300 UI SOL INYECT 3 PLUMAS 1.5 M,Financiables,5,6,"48,68","18.011,60","0,80%"
2,700588,FORXIGA 10 MG 28 COMP,Financiables,3,3,"44,25","16.149,68","0,71%"
3,704632,TRULICITY 1.5 MG SOL INY 4 PLUMAS PREC,Financiables,2,2,"123,22","15.895,38","0,70%"
4,935353,NEXIUM MUPS 40 MG 28 COMP,Financiables,5,4,"24,14","14.966,80","0,66%"

In [23]:
df = df.dropna()

In [24]:
df.head()

,Código,Nombre,Familia,Mínimo,Existencias,P.V.P.,Ventas,Porcent.
0,702686,JARDIANCE 10 MG 30 COMP,Financiables,4,5,"49,53","18.188,36","0,80%"
1,706414,TOUJEO 300 UI SOL INYECT 3 PLUMAS 1.5 M,Financiables,5,6,"48,68","18.011,60","0,80%"
2,700588,FORXIGA 10 MG 28 COMP,Financiables,3,3,"44,25","16.149,68","0,71%"
3,704632,TRULICITY 1.5 MG SOL INY 4 PLUMAS PREC,Financiables,2,2,"123,22","15.895,38","0,70%"
4,935353,NEXIUM MUPS 40 MG 28 COMP,Financiables,5,4,"24,14","14.966,80","0,66%"

In [25]:
columnas_a = ['Código', 'Nombre', 'Familia', 'Mínimo', 'Existencias', 'P.V.P.', 'Ventas', 'Porcent.']
eliminar = ['Código', 'Nombre', 'Familia', 'Mínimo', 'Existencias', 'P.V.P.', 'Ventas', 'Porcent.']

for columna, valor in zip(columnas_a, eliminar):
    df = df[~(df[columna] == valor)]

In [26]:
df.to_excel('../data/data_clean/archivos.xlsx', index=False)

- Ánalisis del primer archivo

In [27]:
df.shape

(3352, 8)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3352 entries, 0 to 3436
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Código       3352 non-null   object
 1   Nombre       3352 non-null   object
 2   Familia      3352 non-null   object
 3   Mínimo       3352 non-null   object
 4   Existencias  3352 non-null   object
 5   P.V.P.       3352 non-null   object
 6   Ventas       3352 non-null   object
 7   Porcent.     3352 non-null   object
dtypes: object(8)
memory usage: 235.7+ KB

In [29]:
df.describe().T

            count unique                                      top  freq
0
Código       3352   3352                                   702686     1
Nombre       3352   3349  OMEPRAZOL  STADA  20  MG  56  CAPS  EFG     2
Familia      3352      9                             Financiables  1652
Mínimo       3352     18                                        1  1371
Existencias  3352     89                                        1  1056
P.V.P.       3352   1551                                     2,40    71
Ventas       3352   3052                                   156,00     6
Porcent.     3352     48                                    0,01%  1580

---

### Limpieza del archivo lineas_ventas_diciembre_2017 en excel

In [30]:
dic_17 = pd.read_excel('../data/data_raw/2017/lineas_ventas_diciembre_17.xls')

In [31]:
dic_17.head(5)

,Unnamed: 0,Fecha,Hora,Tipo de Operación,Empresa,Código,Denominación,Organismo,Cantidad (Unidades),Pvp,PVP Facturado,Importe Bruto,Descuento,Importe Neto,Cliente,Perfil de Cliente,Vendedor,Aporta.Subv.,Número de Puesto,Existencias Anteriores,Existencias Posteriores
0,NaN,01/12/17,08:10,Contado,1,770065,ORFIDAL 1 MG 50 COMPRIMIDOS,091 - TSI 002,1,1.65,1.65,0.17,0.0,0.17,NaN,NaN,ADA,0,1,36,35
1,NaN,01/12/17,08:10,Contado,1,770065,ORFIDAL 1 MG 50 COMPRIMIDOS,095 - RP RE DOE,1,1.65,1.65,0.00,0.0,0.00,NaN,NaN,ADA,0,1,37,36
2,NaN,01/12/17,08:10,Contado,1,695435,VIBRACINA 100 MG 14 CAPSULAS,123 - TSI 001 *,1,2.40,2.40,0.00,0.0,0.00,NaN,NaN,ADA,0,1,2,1
3,NaN,01/12/17,08:17,Contado,1,656578,MICARDIS 80 MG 28 COMP,002 - R.G. S.S.,-1,19.20,19.20,-1.92,0.0,-1.92,NaN,NaN,ADA,0,3,21,22
4,NaN,01/12/17,08:17,Contado,1,656578,MICARDIS 80 MG 28 COMP,094 - RG RE DOE,1,19.20,19.20,1.92,0.0,1.92,NaN,NaN,ADA,0,3,22,21

In [ ]:
dic_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15571 entries, 0 to 15570
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    15571 non-null  datetime64[ns]
 1   Hora                     15571 non-null  object
 2   Codigo                   15571 non-null  int64
 3   Denominacion             15571 non-null  object
 4   Organismo                15571 non-null  object
 5   Cantidad                 15571 non-null  int64
 6   Pvp                      15571 non-null  float64
 7   Pvp_facturado            15571 non-null  float64
 8   Importe_bruto            15571 non-null  float64
 9   Descuento                15571 non-null  float64
 10  Importe_neto             15571 non-null  float64
 11  Vendedor                 15571 non-null  object
 12  Puesto                   15571 non-null  int64
 13  Existencias_anteriores   15571 non-null  int64
 14  Existencias_posteriores  15571 non-null  int64
 15  Ticket                   15571 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(4)
memory usage: 1.9+ MB

In [54]:
excel_manager = ExcelManager(r"C:\Users\blanx\ironhack\Final_proyect_SME_real_case\Final_proyect_SME_real_case\data\data_raw")
excel_manager.exportarDfsToExcels(r'C:\Users\blanx\ironhack\Final_proyect_SME_real_case\Final_proyect_SME_real_case\data\data_clean')

In [73]:
dic_17 = pd.read_excel('../data/data_clean/lineas_ventas_diciembre_17.xlsx')
dic_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15571 entries, 0 to 15570
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          15571 non-null  object
 1   Hora           15571 non-null  object
 2   Codigo         15571 non-null  int64
 3   Denominacion   15571 non-null  object
 4   Organismo      15571 non-null  object
 5   Cantidad       15571 non-null  int64
 6   Pvp            15571 non-null  float64
 7   Pvp_facturado  15571 non-null  float64
 8   Importe_bruto  15571 non-null  float64
 9   Descuento      15571 non-null  float64
 10  Importe_neto   15571 non-null  float64
 11  Vendedor       15571 non-null  object
 12  Puesto         15571 non-null  int64
 13  Existencias    15571 non-null  int64
 14  Ticket         15571 non-null  float64
dtypes: float64(6), int64(4), object(5)
memory usage: 1.8+ MB

In [102]:
archivos = pd.read_excel('../data/data_clean/archivos.xlsx')
archivos.head()

,Código,Nombre,Familia,Mínimo,Existencias,P.V.P.,Ventas,Porcent.
0,702686,JARDIANCE 10 MG 30 COMP,Financiables,4,5,"49,53","18.188,36","0,80%"
1,706414,TOUJEO 300 UI SOL INYECT 3 PLUMAS 1.5 M,Financiables,5,6,"48,68","18.011,60","0,80%"
2,700588,FORXIGA 10 MG 28 COMP,Financiables,3,3,"44,25","16.149,68","0,71%"
3,704632,TRULICITY 1.5 MG SOL INY 4 PLUMAS PREC,Financiables,2,2,"123,22","15.895,38","0,70%"
4,935353,NEXIUM MUPS 40 MG 28 COMP,Financiables,5,4,"24,14","14.966,80","0,66%"

In [106]:
resultado = pd.merge(dic_17, archivos[['Código', 'Familia', 'Mínimo']], left_on='Codigo', right_on='Código', how='left')
resultado = resultado.drop(columns=['Código'])
resultado.head()

,Fecha,Hora,Codigo,Denominacion,Organismo,Cantidad,Pvp,Pvp_facturado,Importe_bruto,Descuento,Importe_neto,Vendedor,Puesto,Existencias,Ticket,Familia,Mínimo
0,01/12/17,08:10,770065,ORFIDAL 1 MG 50 COMPRIMIDOS,091 - TSI 002,1,1.65,1.65,0.17,0.0,0.17,ADA,1,35,5.7,Financiables,10.0
1,01/12/17,08:10,770065,ORFIDAL 1 MG 50 COMPRIMIDOS,095 - RP RE DOE,1,1.65,1.65,0.00,0.0,0.00,ADA,1,36,5.7,Financiables,10.0
2,01/12/17,08:10,695435,VIBRACINA 100 MG 14 CAPSULAS,123 - TSI 001 *,1,2.40,2.40,0.00,0.0,0.00,ADA,1,1,5.7,NaN,NaN
3,01/12/17,08:17,656578,MICARDIS 80 MG 28 COMP,002 - R.G. S.S.,-1,19.20,19.20,-1.92,0.0,-1.92,ADA,3,22,38.4,Financiables,4.0
4,01/12/17,08:17,656578,MICARDIS 80 MG 28 COMP,094 - RG RE DOE,1,19.20,19.20,1.92,0.0,1.92,ADA,3,21,38.4,Financiables,4.0

In [90]:
resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15571 entries, 0 to 15570
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          15571 non-null  object
 1   Hora           15571 non-null  object
 2   Codigo         15571 non-null  int64
 3   Denominacion   15571 non-null  object
 4   Organismo      15571 non-null  object
 5   Cantidad       15571 non-null  int64
 6   Pvp            15571 non-null  float64
 7   Pvp_facturado  15571 non-null  float64
 8   Importe_bruto  15571 non-null  float64
 9   Descuento      15571 non-null  float64
 10  Importe_neto   15571 non-null  float64
 11  Vendedor       15571 non-null  object
 12  Puesto         15571 non-null  int64
 13  Existencias    15571 non-null  int64
 14  Ticket         15571 non-null  float64
 15  Código         10645 non-null  float64
 16  Familia        10645 non-null  object
 17  Mínimo         10645 non-null  float64
dtypes: float64(8), int64(4), object(6)
memory usage: 2.1+ MB

In [56]:
df_dic_17 = pd.DataFrame(dic_17)

# 1. DataFrame "empleados"
empleados = df_dic_17[['Vendedor']]

# 2. DataFrame "medicamentos"
medicamentos = df_dic_17[['Codigo', 'Denominacion', 'Pvp']]

# 3. DataFrame "ventas"
ventas = df_dic_17

In [66]:
empleados = empleados.drop_duplicates()
empleados = empleados.reset_index(drop=True)
empleados.index += 1
empleados

  Vendedor
1      ADA
2    SONIA
3   RAFAEL
4      R.N
5   MIRIAM
6   RAQUEL
7     FRAN
8     SOLE

In [67]:
medicamentos = medicamentos.drop_duplicates()
medicamentos = medicamentos.reset_index(drop=True)
medicamentos.index += 1
medicamentos

      Codigo                                  Denominacion
1     770065                   ORFIDAL 1 MG 50 COMPRIMIDOS
2     695435                  VIBRACINA 100 MG 14 CAPSULAS
3     656578                        MICARDIS 80 MG 28 COMP
4     946582                    MOTILIUM 200 ML SUSPENSION
5     655871                PARACETAMOL CINFA 1X20 SOB EFG
...      ...                                           ...
3350  665549  ARKOCAPSULAS ESPINO ALBAR 350 MG 48 CAPSULAS
3351  689745                 FLIXOTIDE 250 INHALADOR 120 D
3352  783241                       MAGNESIA SAN PELLEGRINO
3353  954974                    ALKA SELTZER 20 COMP EFERV
3354  159588     APOSITO CALLOS CON ACIDO SALICILICO  10 U

[3354 rows x 2 columns]

In [72]:
ventas

,Fecha,Hora,Organismo,Cantidad,Pvp,Pvp_facturado,Importe_bruto,Descuento,Importe_neto,Puesto,Existencias,Ticket
0,01/12/17,08:10,091 - TSI 002,1,1.65,1.65,0.17,0.0,0.17,1,35,5.70
1,01/12/17,08:10,095 - RP RE DOE,1,1.65,1.65,0.00,0.0,0.00,1,36,5.70
2,01/12/17,08:10,123 - TSI 001 *,1,2.40,2.40,0.00,0.0,0.00,1,1,5.70
3,01/12/17,08:17,002 - R.G. S.S.,-1,19.20,19.20,-1.92,0.0,-1.92,3,22,38.40
4,01/12/17,08:17,094 - RG RE DOE,1,19.20,19.20,1.92,0.0,1.92,3,21,38.40
...,...,...,...,...,...,...,...,...,...,...,...,...
15566,31/12/17,22:37,094 - RG RE DOE,1,3.74,3.74,1.50,0.0,1.50,1,6,3.74
15567,31/12/17,23:00,092 - RG RE,1,9.22,9.22,0.92,0.0,0.92,3,1,11.43
15568,31/12/17,23:00,001 - VTA. LIBRE,1,2.21,2.21,2.21,0.0,2.21,3,9,11.43
15569,31/12/17,23:33,001 - VTA. LIBRE,1,9.90,9.90,9.90,0.0,9.90,3,1,13.74
15570,31/12/17,23:33,097 - TSI 004,1,3.84,3.84,1.92,0.0,1.92,3,5,13.74

In [93]:
import configparser
import mysql.connector as conn
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [109]:
config = configparser.ConfigParser()
config.read('config.ini')
host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']

In [95]:
conexion = conn.connect(host=host, 
                        user=user, 
                        password=password)

cursor = conexion.cursor() 
cursor

In [96]:
c = cursor.execute

c('create database if not exists Farmacia;')

In [97]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=user,
                               pw=password,
                               db="Farmacia"))

In [98]:
empleados.to_sql(name='empleados',      
            con=engine,          
            if_exists='append',  
            index=True
           )

8

In [99]:
medicamentos.to_sql(name='medicamentos',      
            con=engine,          
            if_exists='append',  
            index=True
           )

3354

In [100]:
ventas.to_sql(name='ventas',      
            con=engine,          
            if_exists='append',  
            index=True
           )

15571

---

## Resumen