# 2. Base de datos en MySQL

In [10]:
#%pip install mysql-connector-python
#%pip install SQLAlchemy==2.0.10
#%pip install pymysql
#%pip install mysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\blanx\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [11]:
import configparser
import mysql.connector as conn
import pandas as pd
import pymysql
from sqlalchemy import create_engine

### Creación de la base de datos ➡ Formación de dataframes y cada columna de valores

### Guardado de archivos excel? limpios

### Conexión a MySQL

In [6]:
config = configparser.ConfigParser()
config.read('config.ini')
host = config['mysql']['host']
user = config['mysql']['user']
password = config['mysql']['password']

In [14]:
conexion = conn.connect(host=host, 
                        user=user, 
                        password=password)

cursor = conexion.cursor() 
cursor

In [15]:
c = cursor.execute

c('create database if not exists Farmacia;')

In [12]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=user,
                               pw=password,
                               db="Farmacia"))

In [ ]:
empleados.to_sql(name='actores',      
            con=engine,          
            if_exists='append',  
            index=False
           )

In [ ]:
medicamentos.to_sql(name='medicamentos',      
            con=engine,          
            if_exists='append',  
            index=True
           )

### Carga de base de datos

- dato 1

In [ ]:
#algo = pd.read_excel('../data/data_clean/ .xlsx')
#algo.head()

In [ ]:
'''
algo.to_sql(name='algo',      
            con=engine,          
            if_exists='append',  
            index=False
           )
'''

### Creación de uniones de los diagramas

In [ ]:
'''
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost:3306/{db}"
                       .format(user="root",
                               pw="password",
                               db="proyecto_pelis"))
 

with engine.connect() as con:
        con.execute(
        '''
 '''
        show * from actores;
       
        )
'''

### Entity Relationship Diagram - ERD

ERD creado en MySQL

### Queries

##### dato 1
```SQL
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema farmacia
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema farmacia
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `farmacia` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `farmacia` ;

-- -----------------------------------------------------
-- Table `farmacia`.`empleados`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `farmacia`.`empleados` (
  `index` BIGINT NOT NULL,
  `Vendedor` TEXT NULL DEFAULT NULL,
  INDEX `ix_Empleados_index` (`index` ASC) VISIBLE,
  PRIMARY KEY (`index`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `farmacia`.`medicamentos`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `farmacia`.`medicamentos` (
  `index` BIGINT NOT NULL,
  `Codigo` BIGINT NULL DEFAULT NULL,
  `Denominacion` TEXT NULL DEFAULT NULL,
  `Pvp` DOUBLE NULL DEFAULT NULL,
  INDEX `ix_Medicamentos_index` (`index` ASC) VISIBLE,
  PRIMARY KEY (`index`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `farmacia`.`ventas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `farmacia`.`ventas` (
  `index` BIGINT NOT NULL,
  `Fecha` TEXT NULL DEFAULT NULL,
  `Hora` TEXT NULL DEFAULT NULL,
  `Organismo` TEXT NULL DEFAULT NULL,
  `Cantidad` BIGINT NULL DEFAULT NULL,
  `Pvp_facturado` DOUBLE NULL DEFAULT NULL,
  `Importe_bruto` DOUBLE NULL DEFAULT NULL,
  `Descuento` DOUBLE NULL DEFAULT NULL,
  `Importe_neto` DOUBLE NULL DEFAULT NULL,
  `Puesto` BIGINT NULL DEFAULT NULL,
  `Existencias` BIGINT NULL DEFAULT NULL,
  `Ticket` DOUBLE NULL DEFAULT NULL,
  `Familia` TEXT NULL DEFAULT NULL,
  `Mínimo` DOUBLE NULL,
  `medicamentos_index` BIGINT NOT NULL,
  `empleados_index` BIGINT NOT NULL,
  INDEX `ix_Ventas_index` (`index` ASC) VISIBLE,
  PRIMARY KEY (`index`),
  INDEX `fk_ventas_medicamentos_idx` (`medicamentos_index` ASC) VISIBLE,
  INDEX `fk_ventas_empleados1_idx` (`empleados_index` ASC) VISIBLE,
  CONSTRAINT `fk_ventas_medicamentos`
    FOREIGN KEY (`medicamentos_index`)
    REFERENCES `farmacia`.`medicamentos` (`index`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_ventas_empleados1`
    FOREIGN KEY (`empleados_index`)
    REFERENCES `farmacia`.`empleados` (`index`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
```

##### dato 2
```SQL

```

```

```

##### dato 3
```SQL

```

```

```

##### dato 4
```SQL

```

```

```

##### dato 5
```SQL

```

```

```

# Resumen