# 2. Base de datos en MySQL

In [ ]:
#%pip install mysql-connector-python
#%pip install SQLAlchemy==2.0.10
#%pip install pymysql

In [ ]:
''' 
import mysql.connector as conn
import pandas as pd
from sqlalchemy import create_engine
'''

### Creación de la base de datos ➡ Formación de dataframes y cada columna de valores

### Guardado de archivos excel? limpios

### Conexión a MySQL

In [ ]:
conexion = conn.connect(host='localhost',
                        user='root',
                        #passwd='password' 
                       )

cursor = conexion.cursor() 
cursor

In [ ]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               #pw="password",# cambiar la password, ponerlo en un txt y lo del gitignore y blabla
                               db="proyecto_pelis"))

### Carga de base de datos

- dato 1

In [ ]:
#algo = pd.read_excel('../data/data_clean/ .xlsx')
#algo.head()

In [ ]:
'''
algo.to_sql(name='algo',      
            con=engine,          
            if_exists='append',  
            index=False
           )
'''

### Creación de uniones de los diagramas

In [ ]:
'''
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost:3306/{db}"
                       .format(user="root",
                               pw="password",
                               db="proyecto_pelis"))
 

with engine.connect() as con:
        con.execute(
        '''
 '''
        show * from actores;
       
        )
'''

### Entity Relationship Diagram - ERD

ERD creado en MySQL

### Queries

##### dato 1
```SQL

```

```

```

##### dato 2
```SQL

```

```

```

##### dato 3
```SQL

```

```

```

##### dato 4
```SQL

```

```

```

##### dato 5
```SQL

```

```

```

# Resumen